<h1>Posts</h1>

<ul class="list-unstyled">
  {{#each post in model}}
    <li>
      {{post.title}}
      <span class="muted">
        by {{ post.author.name }}
      </span>
    </li>
  {{/each}}
</ul>